<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Расчет</title>
</head>
<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<form th:action="@{/calculate}" method="post" th:object="${stringForm}" >
    <div>
        <li th:each="type : ${types}">
            <input type="radio" th:field="*{type}" th:value="${type}" />
            <label th:for="${type}" th:text="${type}"></label>
        </li>
    </div>
    <label for="name">Введите значения через запятую </label><br>
    <input type="text" th:field="*{value}"  th:value = "*{value}" id="name"/><br>
    <input type="text" th:unless="${stringForm.type == 'magicSquare'}"
                       th:field="*{valueTwo}"
                       th:value = "*{valueTwo}" id="nameTwo"/><br>
    <br>
    <input type="submit" value="Calculate!"/>
</form>

<form action="/saveBD" method="post" th:object="${stringForm}">
    <input type="hidden" th:field="*{value}"  th:value = "*{value}"/><br>
    <input type="hidden" th:field="*{type}"  th:value = "*{type}"/><br>
    <button type="submit">сохранить в БД</button>
</form>
<br>
<form action="/loadBD" method="GET" >
    <button type="submit">Загрузить с БД</button>
</form><br>

<form method="POST" action="/file_upload"  th:object="${stringForm}">
            <input type="hidden" th:field="*{value}"  th:value = "*{value}"/>
            <input type="hidden" th:field="*{type}"  th:value = "*{type}"/>
            <input type="hidden" th:field="*{result}"  th:value = "*{result}"/>
            <input type="submit" value="Экспортировать" />
</form><br>

<form method="POST" enctype="multipart/form-data" action="/file_download"  th:object="${stringForm}">
    <input type="hidden" th:field="*{value}"  th:value = "*{value}"/>
    <input type="file" name="file" /><br>
    <br>
    <input type="submit" value="Импортировать" />
</form>

</form>
<div>
    <h2>Результат : </h2>
    <input type="text"   th:value = "${stringForm.result}" />
   <!-- <input type="text"   th:value = "${mq.res2}" />-->
    <a th:if="${stringForm.type == 'magicSquare'}">
    <h2 >Стоимость : </h2>
    <input type="text"  th:value = "${stringForm.sum}" />
    </a>
</div>
<br>
<form action="/" method="GET" >
    <button type="submit">Выбрать другую задачу</button>
</form>

</body>
</html>