<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Расчет</title>
</head>
<body>
<form th:action="@{/calculateMQ}" method="post" th:object="${mq}" >
    <label for="name">Введите значения через запятую </label><br>
    <input type="text" th:field="*{value}"  th:value = "*{value}" id="name"/>
    <input type="submit" value="Calculate!"/>
</form>

<form action="/saveBD" method="post" th:object="${mq}">
    <input type="hidden" th:field="*{value}"  th:value = "*{value}"/><br>
    <button type="submit">сохранить в БД</button>
</form>
<br>
<form action="/loadBD" method="GET" >
    <button type="submit">Загрузить с БД</button>
</form>
<div th:if="${message}">
<h2 th:text="${message}"/>
</div>
<form method="POST" action="/file_upload"  th:object="${mq}">
            <input type="hidden" th:field="*{value}"  th:value = "*{value}"/>
            <input type="hidden" th:field="*{type}"  th:value = "*{type}"/>
            <input type="hidden" th:field="*{result}"  th:value = "*{result}"/>
            <input type="submit" value="Экспортировать" />
</form><br>

<form method="POST" enctype="multipart/form-data" action="/file_download"  th:object="${mq}">
    <input type="hidden" th:field="*{value}"  th:value = "*{value}"/>
    <input type="file" name="file" /><br>
    <input type="submit" value="Импортировать" />
</form>

</form>
<div>
    <h2>Результат : </h2>
    <input type="text"   th:value = "${mq.result}" />
   <!-- <input type="text"   th:value = "${mq.res2}" />-->
    <h2>Стоимость : </h2>
    <input type="text"   th:value = "${mq.sum}" />

</div>
<br>
<form action="/" method="GET" >
    <button type="submit">Выбрать другую задачу</button>
</form>


</body>
</html>